doctype html
html
    head
        link(href='Sheet.css',rel='stylesheet')
        title Welkom!

    body
        a(href='Home.html')
            img(src="https://cdn.rawgit.com/pugjs/pug-logo/3ea2d3a86c6227020dd5b20743a5aa458808ca4e/SVG/__pug-logo-colour-wide.svg" alt="Pug" style="width:600px;height:100px;")

        .nav
            ul
                li
                    a(href='Home.html', style='color: #ffffff') Home
                li
                    a(href='Jade.html', style='color: #ffffff') Jade/Pug
                li
                    a(href='Voornadelen.html', style='color: #ffffff') Voor en nadelen
                    ul
                        li
                            a(href='Voordelen.html', style='color: #ffffff') Voordelen
                        li
                            a(href='Nadelen.html', style='color: #ffffff') Nadelen
                li
                    a(href='Contact.html', style='color: #ffffff') Contact

        h1 Contact
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2480.4524299502427!2d4.610489315904974!3d51.55993901468115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c41f43bec7999f%3A0x67ec0f3eaee8241f!2sVosdonk+39%2C+4879+NC+Etten-Leur!5e0!3m2!1snl!2snl!4v1473327503693',width='300', height='250', frameborder='0', style='border:1', allowfullscreen='')
        p Vosdonk 12, 3290 RA, Etten-Leur

    footer
        .footer
            p Copyright 2016 JaDe PuG