doctype html
html
    head
        link(href='Sheet.css',rel='stylesheet')
        title Welkom!

    body
        a(href='Home.html')
            img(src="https://cdn.rawgit.com/pugjs/pug-logo/3ea2d3a86c6227020dd5b20743a5aa458808ca4e/SVG/__pug-logo-colour-wide.svg" alt="Pug" style="width:600px;height:100px;")

        .nav
            ul
                li
                    a(href='Home.html', style='color: #ffffff') Home
                li
                    a(href='Jade.html', style='color: #ffffff') Jade/Pug
                li
                    a(href='Voornadelen.html', style='color: #ffffff') Voor en nadelen
                    ul
                        li
                            a(href='Voordelen.html', style='color: #ffffff') Voordelen
                        li
                            a(href='Nadelen.html', style='color: #ffffff') Nadelen
                li
                    a(href='Contact.html', style='color: #ffffff') Contact


        h1 Welkom op onze site!
        p Hier vind u alles over Jade
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis est ligula, sodales sed arcu ut, tempus consectetur nulla. Quisque eget fringilla lorem. Donec sapien lacus, aliquam eget fringilla ac, cursus a risus. Duis rhoncus magna nunc, vitae vulputate ex ultrices a. Vivamus nec mauris ullamcorper, aliquet nulla sit amet, mollis elit. Praesent suscipit diam sed dui auctor elementum. In ullamcorper dui eu ante rutrum sagittis. Vivamus euismod id justo et eleifend. Curabitur vehicula sem nisi, at semper dui ultricies at. Phasellus finibus mattis consequat.

        p Aenean massa nibh, egestas eu posuere ut, aliquet ac odio. Nam facilisis sem in neque porta consequat. Integer sodales sem a consectetur pretium. Proin eget tempus orci, et tristique diam. Vestibulum sed ultricies purus, eget tristique sem. Suspendisse est sem, dictum vel dui vel, semper tincidunt tellus. Vestibulum aliquet, quam vel tristique porta, magna enim faucibus eros, ut auctor ex ipsum vitae ex. Mauris ac efficitur odio, a aliquet arcu. Vivamus ultricies velit a ligula faucibus fermentum. Vestibulum congue molestie nunc. Aliquam mollis semper sem sit amet bibendum. Vestibulum scelerisque orci ac pulvinar malesuada.

        p Pellentesque commodo ligula erat, non egestas turpis molestie eu. Nulla bibendum metus auctor lacus dignissim, eget mollis felis convallis. Vestibulum accumsan odio vel metus rutrum fermentum. Mauris in consequat risus. Pellentesque quam dui, imperdiet in ipsum at, accumsan lacinia dolor. Sed congue orci at nibh malesuada, id placerat metus porta. Suspendisse in leo eu tortor sodales eleifend in non sapien. Phasellus non nisl dictum, molestie enim vitae, semper lorem. Suspendisse justo metus, luctus ut pharetra a, ornare sit amet elit. In eget congue elit.

        p Nunc malesuada consequat quam ac feugiat. Nulla fringilla interdum pellentesque. Vivamus bibendum ligula sed eros fringilla consectetur. Quisque in posuere nulla, efficitur venenatis ante. Phasellus pharetra orci a erat pharetra vehicula. Vivamus euismod sem urna, in viverra ex convallis at. Nam nec tincidunt dui, vel imperdiet dui. Ut vitae justo lacus. Suspendisse potenti.

        p Integer volutpat nulla interdum lacus consequat, sed fermentum ex auctor. Pellentesque mi urna, aliquet in pulvinar eu, finibus hendrerit nisl. Vestibulum vel purus ac nisi semper blandit. Donec blandit euismod est eu tristique. Mauris facilisis sem id libero dapibus, et commodo urna maximus. Nulla convallis diam quis risus elementum scelerisque. Aenean nec nisl in est tristique mollis. Curabitur viverra magna in euismod efficitur. In ut velit eros. Morbi blandit convallis nunc, ac blandit nibh tempus nec. Donec accumsan sapien ac sodales auctor. Nullam facilisis mattis nunc, non tincidunt mi dapibus id. Nulla in dui nibh. Nullam bibendum vel eros feugiat sollicitudin.

    footer
        .footer
            p Copyright 2016 JaDe PuG





