doctype html
html
    head
        title test Demo
        link(rel='stylesheet', href='http://www.codeproject.com/stylesheet/style.css')
    body
        h1 test
        p rdetrtrtrtrerrtrretrtrrttr
