doctype html
html
    head
        link(href='Sheet.css',rel='stylesheet')
        title Welkom!

    body
        a(href='Home.html')
            img(src="https://cdn.rawgit.com/pugjs/pug-logo/3ea2d3a86c6227020dd5b20743a5aa458808ca4e/SVG/__pug-logo-colour-wide.svg" alt="Pug" style="width:600px;height:100px;")

        .nav
            ul
                li
                    a(href='Home.html', style='color: #ffffff') Home
                li
                    a(href='Jade.html', style='color: #ffffff') Jade/Pug
                li
                    a(href='Voornadelen.html', style='color: #ffffff') Voor en nadelen
                    ul
                        li
                            a(href='Voordelen.html', style='color: #ffffff') Voordelen
                        li
                            a(href='Nadelen.html', style='color: #ffffff') Nadelen
                li
                    a(href='Contact.html', style='color: #ffffff') Contact

        h1 Voor en nadelen

    footer
        .footer
            p Copyright 2016 JaDe PuG