doctype html
html
    head
        <img src="https://cdn.rawgit.com/pugjs/pug-logo/3ea2d3a86c6227020dd5b20743a5aa458808ca4e/SVG/__pug-logo-colour-wide.svg" alt="Pug" style="width:600px;height:100px;" >

        link(href='Sheet.css',rel='stylesheet')
        title Welkom!

    body
        nav
            ul.ulmenu
            li a(href='Home.html') Home
            li a(href='Jade.html') Jade/Pug
            li a(href='Voornadelen.html') plus en min punten
                ul
                li a(href='Voordelen.html') Voordelen
                li a(href='Nadelen.html') Nadelen





                //li.limenu
                //    a(href='Home.html', style='color: #ffffff') Home
                //li.limenu
                //    a(href='Jade.html', style='color: #ffffff') Jade/Pug
                //li.limenu
                //    a(href='Voornadelen.html', style='color: #ffffff') Voordelen
                //        ul
                //            li
                //                a(href='Voordelen.html', style='color: #ffffff') Voordelen
                //            li
                //                a(href='Nadelen.html', style='color: #ffffff') Nadelen